[Unit]
Description=Sesman session manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/user/Projects/sesman
ExecStart=/usr/bin/python3 -u -m sesman.server --host 0.0.0.0 --port 8710 --allow 192.0.2.134,10.0.0.1 --terminal
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
